{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">

	<title>CRM-X | Home</title>
</head>
<body>
	<div class="home-layout">
		<div  class="home-logo">
			<img align="middle" src="https://media.giphy.com/media/ZgTR3UQ9XAWDvqy9jv/giphy.gif" alt="Logo">
		</div>
		<!-- <div class="home-content">
			<h3>Escalating Ecommerce CRM🚀</h3>
		</div> -->
		<div class="home-login">
			<a href="/login"><button class="login1">LOGIN</button></a>
		</div>
		<div class="home-signup">
			<a href="/signup"> <button class="signup1">SIGNUP</button></a>
		</div>		

	</div>
	
</body>
</html>